<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Home1</servlet-name>
        <url-pattern>/Home1</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>categories1</servlet-name>
        <url-pattern>/categories1</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Mail1</servlet-name>
        <url-pattern>/Mail1</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>EmailSend</servlet-name>
        <url-pattern>/EmailSend</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>fetchdata</servlet-name>
        <url-pattern>/fetchdata</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>BaiduWeather</servlet-name>
        <url-pattern>/BaiduWeather</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home2</servlet-name>
        <servlet-class>Home2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home1</servlet-name>
        <url-pattern>/Home1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categories1</servlet-name>
        <url-pattern>/categories1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail1</servlet-name>
        <url-pattern>/Mail1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSend</servlet-name>
        <url-pattern>/EmailSend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchdata</servlet-name>
        <url-pattern>/fetchdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaiduWeather</servlet-name>
        <url-pattern>/BaiduWeather</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home2</servlet-name>
        <url-pattern>/Home2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
<!--    <welcome-file-list>Home.jsp</welcome-file-list>-->
    <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
</welcome-file-list>
</web-app>
